asgiref==3.8.1
certifi==2025.4.26
channels==4.2.2
charset-normalizer==3.4.2

Django==5.2
gunicorn==23.0.0
whitenoise==6.11.0

django-crispy-forms==2.4
crispy-bootstrap4==2024.10

python-decouple==3.8
pillow==11.2.1
reportlab==4.4.7

requests==2.32.4
sqlparse==0.5.3
tzdata==2025.2
